@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'PTRootUIWebVF';
    src:
        url('../fonts/pt-root-ui_vf.woff2') format('woff2'),
        url('../fonts/pt-root-ui_vf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway-Black.ttf') format('truetype');
}


:root {
    --container-padding: 20px;

    --content-width: min(100%, 1140px);

    --box-shadow-card-hover: 0px 20px 15px 0px rgba(0, 0, 0, 0.05);


    --border-radius-m: 15px;
    --border-radius-l: 30px;

    --items-gap: 30px;

    --card-grid: 1fr 1fr 1fr;

    --our-brands-height: 50px;

    --human-card-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    /* --root-font-size: 18px; */

    @media (max-width: 575.98px) {
        --root-font-size: 15px;
        --items-gap: 15px;
        --card-grid: 1fr;
        --container-padding: 10px;
        --our-brands-height: 25px;
        --human-card-box-shadow: none;
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        --root-font-size: 15px;
        --items-gap: 15px;
        --card-grid: 1fr;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        --root-font-size: 16px;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        --root-font-size: 16px;
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        --root-font-size: 18px;
    }
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    transition: all 0.1s;
}

body {
    font-family: 'PTRootUIWebVF', sans-serif;
    background-color: #faf9f8;
}

html {
    font-size: var(--root-font-size);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}